<mat-form-field>
  <input matInput (input)="applyFilter($event)" placeholder="Wpisz tekst" />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Nazwa Column -->
    <ng-container matColumnDef="nazwa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NAZWA</th>
      <td mat-cell *matCellDef="let row">{{ row.nazwaPrzepisu }}</td>
    </ng-container>

    <!-- Kategoria Column -->
    <ng-container matColumnDef="kategoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        KATEGORIA PRZEPISU
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.kategoria1.data.attributes.nazwakategori }}
      </td>
    </ng-container>

    <!-- Kcal Column -->
    <ng-container matColumnDef="kcal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kcal</th>
      <td mat-cell *matCellDef="let row">{{ row.gda.kcal }}</td>
    </ng-container>

    <!-- Color Białko -->
    <ng-container matColumnDef="bialko">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Białko</th>
      <td mat-cell *matCellDef="let row">{{ row.gda.bialka }}</td>
    </ng-container>

    <!-- Color Tłuszcze -->
    <ng-container matColumnDef="tluszcze">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tłuszcze</th>
      <td mat-cell *matCellDef="let row">{{ row.gda.tluszcze }}</td>
    </ng-container>

    <!-- Color Węglowodany -->
    <ng-container matColumnDef="weglowodany">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany</th>
      <td mat-cell *matCellDef="let row">{{ row.gda.weglowodany }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <div class="actionbuttons">
          <button mat-raised-button>
            <span class="material-symbols-outlined" (click)="checkRecipe()">search</span>
          </button>
          <button mat-raised-button>
            <span class="material-symbols-outlined edit" (click)="checkRecipe()">edit</span>
          </button>
          <button mat-raised-button>
            <span class="material-symbols-outlined delete" (click)="deleteRecipe(row.id)">delete</span>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mat-row"
    ></tr>
  </table>

  <mat-paginator
    [length]="przepisy.length"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
<!--   -->
