.mat-row {
  &:hover {
    background-color: aquamarine;
  }
}

.actionbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;

  button {
    padding: 5px;
  }

  .edit {
    color: var(--accent-color);
  }

  .delete {
    color: var(--primary-color);
  }
}

table {
  width: 100%;
  height: 90%;
}

mat-form-field {
  margin: 5px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.addbut{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 65px;
  background-color:  var(--accent-color);
  z-index: 10;
  span{
    font-size: 50px;
  }
}
