<div class="back">
  <button mat-raised-button color="accent" (click)="goBack()">
    <span class="material-symbols-outlined"> arrow_back </span>
    <label for="">Powrót</label>
  </button>
</div>

<div class="new-recipe">
  <div class="image-cont">
    <input type="file" (change)="handleFileInput($event)" accept="image" />
    <img
      [src]=" imageUrl ? imageUrl : '../assets/placeholder.jpg' "
      alt="Wybrane zdjęcie"
      class="image"
    />
  </div>
  <div class="recipe-content">
    <h1>Dodaj nowy przepis</h1>
    <form class="recipe-form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-label>Nazwa przepisu</mat-label>
        <input
          matInput
          placeholder="Np. Owsianka z malinami"
          value="sushi"
          [(ngModel)]="przepis.nazwaPrzepisu"
          name="nazwaPrzepisu"
          required
        />
      </mat-form-field>

      <!-- <mat-divider></mat-divider> -->
      <div class="divider-text">
        <h1>Kategoria przepisu</h1>
      </div>
      <mat-form-field>
        <mat-label>Wybierz kategorię</mat-label>
        <mat-select>
          @for (kat of kategorie; track kat) {
          <mat-option [value]="przepis.kategoria1">{{ kat }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- <mat-divider></mat-divider> -->
      <div class="divider-text">
        <h1>Składniki przepisu</h1>
      </div>

      <div class="produkty">
        <ng-container *ngFor="let skl of skladniki; let i = index">
          <mat-form-field>
            <mat-label>Wybierz produkt</mat-label>
            <mat-select
              (selectionChange)="onProductSelected($event, i)"
              [value]="skl.nazwaProduktu"
            >
              <mat-option
                *ngFor="let prod of produkty; let j = index"
                [value]="prod.nazwaProduktu"
              >
                {{ prod.nazwaProduktu }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ilość[g]</mat-label>
            <input
              matInput
              type="number"
              placeholder="100"
              [(ngModel)]="skl.ilosc"
              name="iloscskladnika"
              required
              (blur)="makecalculations(i)"
              (keydown)="onInputKeyDown($event)"
            />
          </mat-form-field>
          <ng-container >
            <mat-form-field class="per100">
              <mat-label>Kcal</mat-label>
              <input matInput disabled [value]="skl.kcal" />
            </mat-form-field>
            <mat-form-field class="per100">
              <mat-label>Tłuszcze</mat-label>
              <input matInput disabled [value]="skl.tluszcze" />
            </mat-form-field>
            <mat-form-field class="per100">
              <mat-label>Węglowodany</mat-label>
              <input matInput disabled [value]="skl.weglowodany" />
            </mat-form-field>
            <mat-form-field class="per100">
              <mat-label>Białko</mat-label>
              <input matInput disabled [value]="skl.bialko" />
            </mat-form-field>
          </ng-container>
          <ng-container class="perportion">
            <mat-form-field class="perp">
              <mat-label> Kcal w porcji</mat-label>
              <input matInput disabled [value]="skl.kcalperw" />
            </mat-form-field>
            <mat-form-field class="perp">
              <mat-label> Tłuszcze w porcji </mat-label>
              <input matInput disabled [value]="skl.tluszczeperw" />
            </mat-form-field>
            <mat-form-field class="perp">
              <mat-label> Węglowodany w porcji </mat-label>
              <input matInput disabled [value]="skl.weglowodanyperw" />
            </mat-form-field>
            <mat-form-field class="perp">
              <mat-label> Białko w porcji </mat-label>
              <input matInput disabled [value]="skl.bialkoperw" />
            </mat-form-field>
          </ng-container>
            <button mat-raised-button color="primary" (click)="deleteskladnik(i)">
              <span class="material-symbols-outlined"> delete </span>
            </button>

        </ng-container>
      </div>
      <button mat-raised-button color="primary" (click)="addskladnik()" class="perp">
        +
      </button>

      <!-- <mat-divider></mat-divider> -->
      <div class="divider-text">
        <h1>Czynności:</h1>
      </div>

      <mat-form-field>
        <mat-label>1</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="przepis.instrukcja1"
          name="instrukcja1"
          (ngModelChange)="touchedtextarea(1)"
          required
          (blur)="handleBlur($event, 2)"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="instr2">
        <mat-label>2</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          name="instrukcja2"
          [(ngModel)]="przepis.instrukcja2"
          (ngModelChange)="touchedtextarea(2)"
          (blur)="handleBlur($event, 2)"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="instr3">
        <mat-label>3</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          name="instrukcja3"
          [(ngModel)]="przepis.instrukcja3"
          (blur)="handleBlur($event, 3)"
          (ngModelChange)="touchedtextarea(3)"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="instr4">
        <mat-label>4</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          name="instrukcja4"
          [(ngModel)]="przepis.instrukcja4"
          (ngModelChange)="touchedtextarea(4)"
          (blur)="handleBlur($event, 4)"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="instr5">
        <mat-label>5</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          name="instrukcja5"
          [(ngModel)]="przepis.instrukcja5"
          (ngModelChange)="touchedtextarea(5)"
          (blur)="handleBlur($event, 5)"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="instr6">
        <mat-label>6</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          name="instrukcja6"
          [(ngModel)]="przepis.instrukcja6"
          (blur)="handleBlur($event, 6)"
        ></textarea>
      </mat-form-field>
      <button type="submit">Dodaj przepis</button>
    </form>
  </div>
</div>

